@import "grid";
@import "palette";
@import "typeography";

h1 {
  $height: $gridH * 7;

  @include PageHeaderType();
  
  height: $height;
  line-height: $height;
  text-align: center;
  
  background: $page_bg;
  
  position: relative;
  
  &::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 100%;
    left: 0;
    background: linear-gradient(90deg, transparentize($page_bg, 1) 15%, $orange, transparentize($page_bg, 1) 85%);
  }

  &::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 100%;
    left: 0;
    margin-top: 1px;
    background: linear-gradient(90deg, transparentize($page_bg, 1) 15%, #ffffff, transparentize($page_bg, 1) 85%);
  }
}