@import "grid";

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 200;
  src: url(/fonts/Comfortaa-Light.ttf) format('truetype');
  font-display: fallback;
}

$header-font-stack: Comfortaa, -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
$article-title-font-stack: -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;

@mixin PageHeaderType() {
  font-family: $header-font-stack;
  font-size: $gridH * 3;
  font-weight: 200;
  letter-spacing: .1rem;
}

@mixin ArticleHeaderType() {
  font-family: $article-title-font-stack;
  font-size: $gridH * 2;
  font-weight: bold;
}